<!--<p>Bienvenido al reporte de Mantenimeintos!</p>-->
<!--<p>Bienvenido a mi componente mantenimiento!</p>-->
<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>REPORTE UNO</strong>
      </c-card-header>
      <c-card-body>
      <table cTable>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre Solicitante</th>
              <th scope="col">Nombre Técnico</th>
              <th scope="col">Tipo de Soporte</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>&#64;mdo</td>
              <td>
                <button cButton class="me-1" color="warning" variant="outline">
                  Editar
                </button>
                <button cButton class="me-1" color="danger" variant="outline">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>REPORTE DOS</strong>
      </c-card-header>
      <c-card-body>
      <table cTable>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre Solicitante</th>
              <th scope="col">Nombre Técnico</th>
              <th scope="col">Tipo de Soporte</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>&#64;mdo</td>
              <td>
                <button cButton class="me-1" color="warning" variant="outline">
                  Editar
                </button>
                <button cButton class="me-1" color="danger" variant="outline">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
